# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\wthacker\OneDrive - Neumont College of Computer Science\CSC150\ThackerW_L7RealDealJournal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
